.heading-h2 {
  font-size: 40px;
  font-weight: 700;
  line-height: 1.15;
  letter-spacing: 0.98px;
  color: $black_text;
}

@media (max-width: $sm) {
  .heading-h2 {
    font-size: 32px;
    line-height: 1.18;
  }
}
