.heading-h2 {
  font-size: 50px;
  line-height: 1;
  font-family: 'Roboto Flex2', sans-serif;
  font-weight: 400;
  font-variation-settings: 'wght' 700, 'wdth' 120, 'GRAD' 0, 'slnt' 0, 'XTRA' 468, 'XOPQ' 96, 'YOPQ' 79, 'YTLC' 514, 'YTUC' 712, 'YTAS' 750, 'YTDE' -203, 'YTFI' 738;
  font-stretch: extra-condensed;
}

@media (max-width: $lg) {
  .heading-h2  {
    font-size: 40px;
    line-height: 1.1;
  }
}

@media (max-width: $md) {
  .heading-h2  {
    font-size: 30px;
  }
}

@media (max-width: $sm) {
  .heading-h2  {
    font-size: 20px;
  }
}
