.navigation__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.navigation__link {
  color: $black_text;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.3;
  letter-spacing: 0.96px;
}
