.page-body {
  margin: 0;
  background-color: $white;
  font-family: 'Avenir Next', Verdana, sans-serif;
  font-size: 18px;
  font-weight: 400;
}

.page-body--hidden {
  overflow: hidden;
}

@media (max-width: $md) {
  .page-body {
    font-size: 16px;
  }
}
