.subscribe-form {
  width: 100%;
  max-width: 440px;
  display: flex;
  align-items: center;
  position: relative;
}

.subscribe-form__label {
  width: 100%;
  display: block;
  font-size: 0;
}

.subscribe-form__input {
  width: 100%;
  display: block;
  height: 48px;
  padding: 12px 20px 12px 20px;
  border: none;
  outline: none;
  font-family: inherit;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.96px;
  background: $light_bg;
  color: $black_text;
  border-radius: 44px;
}

.subscribe-form__input--white {
  border: 1px solid rgba(56, 152, 254, 0.4);
  background-color: $white;
}


.subscribe-form__input::placeholder {
  color: $blue_input;
  opacity: 0.4;
}

.subscribe-form__input--white::placeholder {
  opacity: 0.6;
}

.subscribe-form__submit {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
}

.subscribe-form__done {
  display: none;
  width: 102%;
  height: 100%;
  border-radius: 44px;
  background-color: $light_bg;
  outline: 2px solid $light_bg;
  justify-content: center;
  align-items: center;
  gap: 16px;
  position: absolute;
  top: 0;
  left: -2px;
  z-index: 10;
}

.subscribe-form__done--active {
  display: flex;
}

.subscribe-form__done-img {
  width: 16px;
  height: 16px;
}

.subscribe-form__done-img img {
  display: block;
  width: 100%;
}
